.git
.gradle
.idea
build
out

.env
.env.*
!.env.example
secrets/

src/main/resources/application-secret.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml

*.iml
*.log
*.class

Dockerfile
docker-compose*.yml
